{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="jumbotron">
        <h3 class="display-4">SAPIA Source the B2B trade platform.</h3>
        <p class="lead">We specialize in connecting importers with exporters</p>
        <hr class="my-4">
        <p>We operate a database of +1M companies
            worldwide.</p>
        {% if not user.is_authenticated %}
            <div class="float-right">
                <a class="btn btn-primary btn-lg" href="{% url 'account_signup' %}" role="button">Signup</a>
                <a class="btn btn-primary btn-lg" href="{% url 'account_login' %}" role="button">Login</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
