container_commands:
  01_migrate:
    command: "django-admin.py migrate"
    leader_only: true
  02_collect_static:
   command: "django-admin.py collectstatic --noinput"
  03_change_permissions:
    command: chmod g+s /opt/python/log
  04_change_owner:
    command: chown root:wsgi /opt/python/log
option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: sapia.settings